<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.hello.mapper.SysOperatorMapper" >
  <resultMap id="BaseResultMap" type="com.li.hello.entity.SysOperator" >
    <constructor >
      <idArg column="OPT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RES_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPT_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPER_VALUE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REMAK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MODIFY_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OP_CLASS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OP_EVENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OP_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTROL_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORDER_BY" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CONTROL_PLACE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER_ORGAN" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    OPT_ID, RES_ID, OPT_NAME, OPER_VALUE, REMAK, CREATE_TIME, MODIFY_TIME, STATE, OP_CLASS, 
    OP_EVENT, OP_TYPE, CONTROL_TYPE, ORDER_BY, CONTROL_PLACE, CREATE_USER_ID, CREATE_USER_ORGAN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_OPERATOR
    where OPT_ID = #{optId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_OPERATOR
    where OPT_ID = #{optId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.li.hello.entity.SysOperator" >
    insert into SYS_OPERATOR (OPT_ID, RES_ID, OPT_NAME, 
      OPER_VALUE, REMAK, CREATE_TIME, 
      MODIFY_TIME, STATE, OP_CLASS, 
      OP_EVENT, OP_TYPE, CONTROL_TYPE, 
      ORDER_BY, CONTROL_PLACE, CREATE_USER_ID, 
      CREATE_USER_ORGAN)
    values (#{optId,jdbcType=VARCHAR}, #{resId,jdbcType=VARCHAR}, #{optName,jdbcType=VARCHAR}, 
      #{operValue,jdbcType=VARCHAR}, #{remak,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{opClass,jdbcType=VARCHAR}, 
      #{opEvent,jdbcType=VARCHAR}, #{opType,jdbcType=VARCHAR}, #{controlType,jdbcType=VARCHAR}, 
      #{orderBy,jdbcType=INTEGER}, #{controlPlace,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createUserOrgan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.li.hello.entity.SysOperator" >
    insert into SYS_OPERATOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optId != null" >
        OPT_ID,
      </if>
      <if test="resId != null" >
        RES_ID,
      </if>
      <if test="optName != null" >
        OPT_NAME,
      </if>
      <if test="operValue != null" >
        OPER_VALUE,
      </if>
      <if test="remak != null" >
        REMAK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="opClass != null" >
        OP_CLASS,
      </if>
      <if test="opEvent != null" >
        OP_EVENT,
      </if>
      <if test="opType != null" >
        OP_TYPE,
      </if>
      <if test="controlType != null" >
        CONTROL_TYPE,
      </if>
      <if test="orderBy != null" >
        ORDER_BY,
      </if>
      <if test="controlPlace != null" >
        CONTROL_PLACE,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createUserOrgan != null" >
        CREATE_USER_ORGAN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optId != null" >
        #{optId,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        #{resId,jdbcType=VARCHAR},
      </if>
      <if test="optName != null" >
        #{optName,jdbcType=VARCHAR},
      </if>
      <if test="operValue != null" >
        #{operValue,jdbcType=VARCHAR},
      </if>
      <if test="remak != null" >
        #{remak,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="opClass != null" >
        #{opClass,jdbcType=VARCHAR},
      </if>
      <if test="opEvent != null" >
        #{opEvent,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        #{opType,jdbcType=VARCHAR},
      </if>
      <if test="controlType != null" >
        #{controlType,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="controlPlace != null" >
        #{controlPlace,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserOrgan != null" >
        #{createUserOrgan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.li.hello.entity.SysOperator" >
    update SYS_OPERATOR
    <set >
      <if test="resId != null" >
        RES_ID = #{resId,jdbcType=VARCHAR},
      </if>
      <if test="optName != null" >
        OPT_NAME = #{optName,jdbcType=VARCHAR},
      </if>
      <if test="operValue != null" >
        OPER_VALUE = #{operValue,jdbcType=VARCHAR},
      </if>
      <if test="remak != null" >
        REMAK = #{remak,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="opClass != null" >
        OP_CLASS = #{opClass,jdbcType=VARCHAR},
      </if>
      <if test="opEvent != null" >
        OP_EVENT = #{opEvent,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        OP_TYPE = #{opType,jdbcType=VARCHAR},
      </if>
      <if test="controlType != null" >
        CONTROL_TYPE = #{controlType,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        ORDER_BY = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="controlPlace != null" >
        CONTROL_PLACE = #{controlPlace,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserOrgan != null" >
        CREATE_USER_ORGAN = #{createUserOrgan,jdbcType=VARCHAR},
      </if>
    </set>
    where OPT_ID = #{optId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.li.hello.entity.SysOperator" >
    update SYS_OPERATOR
    set RES_ID = #{resId,jdbcType=VARCHAR},
      OPT_NAME = #{optName,jdbcType=VARCHAR},
      OPER_VALUE = #{operValue,jdbcType=VARCHAR},
      REMAK = #{remak,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      OP_CLASS = #{opClass,jdbcType=VARCHAR},
      OP_EVENT = #{opEvent,jdbcType=VARCHAR},
      OP_TYPE = #{opType,jdbcType=VARCHAR},
      CONTROL_TYPE = #{controlType,jdbcType=VARCHAR},
      ORDER_BY = #{orderBy,jdbcType=INTEGER},
      CONTROL_PLACE = #{controlPlace,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_USER_ORGAN = #{createUserOrgan,jdbcType=VARCHAR}
    where OPT_ID = #{optId,jdbcType=VARCHAR}
  </update>
</mapper>